.card-container{
  width: 80vw;
  height: 100vh;
  text-align: center;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius:2em;
  box-shadow: 0px 1rem 1.5rem rgba(black, 0.5);
  background-repeat: no-repeat;
  background-color: rgb(233, 233, 233);

}

h2.card-title{
  color:#012741;
  text-align: center;
  padding: 0; 
  margin-top: 2.5em;
  font-family: 'Roboto Mono', monospace;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 0.5em;

}

.card-paragraph{
    color: black;
    text-align: center;
    font-size: 16px;
    padding: 0 0.5em;
    text-transform: none;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5em;
    margin-bottom: 1.2em;
    
}

.card-banner{

    display: flex;
    align-items: flex-end;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 1em;
    
}

.card-icon{
    background-color: white;
    width: 6rem;
    height: 6rem;
    box-shadow: 0 0.5rem 1rem rgba(black, 0.3);
    border-radius: 50%;
    transform: translateY(50%);
    transition: transform 200ms cubic-bezier(0.18, 0.89, 0.32, 1.28);
    margin-top: -5em;
}

.card-article{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-btn{
        font-weight: bold;
        background-color: rgb(194, 50, 6);
        text-align: center;
        width: 60%;
        border: none;
        padding: 0.5rem;
        outline: none;
        box-sizing: border-box;
        border-radius: 0.5em;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 14px;
       
}
.card-btn:hover{
          background-color: #efb10a;
          transform: scale(1.1);
}

.card-btn:active{
          background-color: #e8a200;
          transform: scale(1);
}


