@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,100&family=Roboto+Mono:wght@300;400;600&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
  --gradient: linear-gradient(45deg, #000000, #030039, #220000, #171717);
  background-image: var(--gradient);
  background-size: 400%;
  animation: bg-animation 14s infinite alternate;
  text-align: center;
  height: 100vh;
  width: 100vw;

}

@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}
.visible-moving {
  background: url('./assets/perci2.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.visible-fixed {
  background: url('./assets/transparent.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.visible-moving,
.visible-fixed,
.not-visible {
  width: 70px;
  height: 70px;
  /* border: 1px solid black; */
}

.grid {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-image: url('./assets/Mars_Valles_Marineris.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 9%;
}
